@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 2fr 1fr 1fr;
      grid-template-rows: 2fr 1fr 1fr;
  height: 100%;
}

.wrapper section h1,
.wrapper section h2,
.wrapper section h3 {
  text-shadow: 0px 3px 6px grey;
  opacity: 0;
  color: white;
}

.wrapper section h1,
.wrapper section h2 {
  text-transform: uppercase;
  font-size: 2.4rem;
  padding: 0;
  margin: 0;
}

.wrapper section h3 {
  font-size: 1.5rem;
}

.wrapper section .heading {
  overflow: hidden;
}

.wrapper section a {
  text-decoration: none;
  color: inherit;
}

.wrapper section.hero {
  background: url("../assets/nicole hero.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: 'hero';
}

.wrapper section.work {
  background: url("../assets/model.jpeg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: 'work';
}

.wrapper section.personal {
  background: url("../assets/nicole sweater.jpeg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: 'personal';
}

@media only screen and (max-width: 490px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
  section.hero {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: hero;
  }
  section.work {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: work;
  }
  section.personal {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: personal;
  }
  .wrapper {
        grid-template-areas: "hero hero" "work personal" "work personal";
  }
}

@media only screen and (min-width: 1400px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% auto;
        grid-template-columns: 70% auto;
    -ms-grid-rows: 50% auto;
        grid-template-rows: 50% auto;
        grid-template-areas: "hero work" "hero personal";
  }
  section.hero {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: hero;
  }
  section.hero h1 {
    font-size: 3.2rem;
  }
}

.heading-anim {
  -webkit-animation-name: heading-anim;
          animation-name: heading-anim;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes heading-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes heading-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.button-anim {
  -webkit-animation-name: button-anim;
          animation-name: button-anim;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes button-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes button-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

nav a {
  text-decoration: none;
  color: inherit;
  z-index: 3;
}

.logo {
  font-size: 1.4rem;
}

.nav-open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25vh;
  background-color: #d6d6d6;
  z-index: 1;
  color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 1fr 5%;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nav-open a {
  text-decoration: none;
  color: inherit;
}

.work-link {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.work-link,
.about-link,
.personal-link {
  opacity: 0;
}

.nav-open h3 {
  font-size: 1.7rem;
  padding-bottom: 30px;
}

.logo,
.menu {
  z-index: 2;
}

.menu {
  cursor: pointer;
}

.nav-open-anim {
  -webkit-animation-name: nav-open-anim;
          animation-name: nav-open-anim;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes nav-open-anim {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes nav-open-anim {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.nav-link-anim {
  -webkit-animation-name: nav-link-anim;
          animation-name: nav-link-anim;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes nav-link-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes nav-link-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.nav-open-anim-reverse {
  -webkit-animation-name: nav-open-anim-reverse;
          animation-name: nav-open-anim-reverse;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes nav-open-anim-reverse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes nav-open-anim-reverse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.nav-link-anim-reverse {
  -webkit-animation-name: nav-link-anim-reverse;
          animation-name: nav-link-anim-reverse;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes nav-link-anim-reverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes nav-link-anim-reverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 1fr 25%;
      grid-template-columns: 25% 1fr 25%;
  padding-bottom: 100px;
}

@media only screen and (max-width: 1024px) {
  .content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
  }
}

@media only screen and (max-width: 768px) {
  .container section.reebok {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .container section.reebok .medium-image {
    height: 450px !important;
    background-size: 80% !important;
  }
  .container section.gigi {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

.container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.container hr {
  margin-top: 3em;
  margin-bottom: 3em;
  border: 0.5px solid black;
}

.container section.banner {
  width: 100%;
  height: 600px;
  background-image: url("../assets/work/model.jpeg");
  background-size: auto;
  background-position-x: center;
  background-position-y: -150px;
  background-repeat: no-repeat;
}

.container section.image-grid-small {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
}

.container section.image-grid-small .small-image {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container section.image-grid-small .small-image:nth-child(1) {
  background-image: url("../assets/work/shorts.jpeg");
}

.container section.image-grid-small .small-image:nth-child(2) {
  background-image: url("../assets/work/boxy-tshirt.jpeg");
}

.container section.image-grid-small .small-image:nth-child(3) {
  background-image: url("../assets/work/girl-tshirt.png");
}

.container section.shoes {
  -ms-grid-columns: 1fr !important;
      grid-template-columns: 1fr !important;
  grid-gap: 1em !important;
}

.container section.shoes .small-image {
  height: 200px !important;
}

.container section.shoes .small-image:nth-child(1) {
  background-image: url("../assets/work/sneaker1.jpeg");
  background-size: 40% !important;
}

.container section.shoes .small-image:nth-child(2) {
  background-image: url("../assets/work/sneaker2.png");
  background-size: 40% !important;
}

.container section.shoes .small-image:nth-child(3) {
  background-image: url("../assets/work/sneaker3.jpeg");
  background-size: 40% !important;
}

.container section.models .small-image {
  height: 300px !important;
}

.container section.models .small-image:nth-child(1) {
  background-image: url("../assets/work/model-green.png");
}

.container section.models .small-image:nth-child(2) {
  background-image: url("../assets/work/model-yellow.jpeg");
}

.container section.models .small-image:nth-child(3) {
  background-image: url("../assets/work/model-black.png");
}

.container section.image-grid-medium {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.container section.image-grid-medium .medium-image {
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container section.america .medium-image:nth-child(1) {
  background-image: url("../assets/work/model-america1.jpeg");
}

.container section.america .medium-image:nth-child(2) {
  background-image: url("../assets/work/model-america2.jpeg");
}

.container section.nature {
  height: 510px !important;
  background-image: url("../assets/work/model-nature.jpeg");
}

.container section.gigi .medium-image:nth-child(1) {
  background-image: url("../assets/work/gigi1.jpeg");
}

.container section.gigi .medium-image:nth-child(2) {
  background-image: url("../assets/work/gigi2.jpeg");
}

.container section.pink {
  height: 420px !important;
  background-image: url("../assets/work/whiteshoes.png");
}

.container section.techwear .medium-image:nth-child(1) {
  background-image: url("../assets/work/techwear1.jpg");
}

.container section.techwear .medium-image:nth-child(2) {
  background-image: url("../assets/work/pants.jpeg");
}

.container section.reebok .medium-image:nth-child(1) {
  background-image: url("../assets/work/reebok1.png");
}

.container section.reebok .medium-image:nth-child(2) {
  background-image: url("../assets/work/reebok2.jpeg");
}
/*# sourceMappingURL=main.css.map */