@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 1fr 1fr;
    color: white;
    height: 100%;

    section {

        h1,
        h2,
        h3 {
            text-shadow: 0px 3px 6px grey;
        }

        h1,
        h2 {
            text-transform: uppercase;
            font-size: 2.4rem;
            padding: 0;
            margin: 0;
        }

        h1 {
            
        }

        .heading {
            overflow: hidden;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    section.hero {
        // padding-top: 8em;
        background: url('../assets/nicole\ hero.png');
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.work {
        background: url('../assets/model.jpeg');
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.personal {
        background: url('../assets/nicole\ sweater.jpeg');
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1400px) {
    .wrapper {
        display: grid;
        grid-template-columns: 70% auto;
        grid-template-rows: 50% auto;
        grid-template-areas: "hero work""hero personal";
    }

    section.hero {
        grid-area: hero;
    }

    section.hero h1 {
        font-size: 3.2rem;
    }

    section.work {
        grid-area: work;
    }

    section.personal {
        grid-area: personal;
    }
}

// .heading-anim {
//     animation-name: heading-anim;
//     animation-duration: 0.5s;
//     animation-timing-function: ease-in-out;
// }

// @keyframes heading-anim {
//     0% {

//     }
// }