@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #333;
    color: aliceblue;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide .content {
    position: absolute;
    bottom: 70px;
    left: -600px;
    width: 600px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 35px;
}

.slide .content h1 {
    margin-bottom: 10px;
}

.slide.current .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    padding: 13px 15px;
    outline: none;
}

.buttons button:hover {
    background-color: white;
    color: darkgrey;
}

@media(max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }

    .slide.current .content {
        transform: translateY(-300px);
    }
}

.slide:first-child {
    background: url('./assets/img1.jpg') no-repeat center center/cover;
}

.slide:nth-child(2) {
    background: url('./assets/img2.jpg') no-repeat center top/cover;
}

.slide:nth-child(3) {
    background: url('./assets/img3.jpg') no-repeat center top/cover;
}

.slide:nth-child(4) {
    background: url('./assets/img4.jpg') no-repeat center top/cover;
}

.slide:nth-child(5) {
    background: url('./assets/img5.jpg') no-repeat center top/cover;
}

/* google maps */

#map {
    height: 400px;
    width: 100%;
}