@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Medium.woff");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100;
}

* {
  font-family: Montserrat, sans-serif;
}

.navbar {
  background: #ffffff;
  color: #4D4D4D;
  padding: 25px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80% 1fr;
      grid-template-columns: 1fr 80% 1fr;
}

.navbar__container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.navbar__container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__container__list a {
  color: #4D4D4D;
  text-decoration: none;
  margin-left: 30px;
  display: block;
  font-size: 24px;
  line-height: 24px;
}

.navbar__container__list a:hover {
  color: #315BBE;
  opacity: 0.7;
}

.navbar__container__list__active {
  color: #315BBE !important;
}

.navbar__container__menu {
  display: none;
  cursor: pointer;
}

.navbar__mobile {
  position: absolute;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80% 1fr;
      grid-template-columns: 1fr 80% 1fr;
}

.navbar__mobile__top {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.navbar__mobile a {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: #4D4D4D;
  text-decoration: none;
  margin-top: 15px;
  display: block;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.navbar__mobile a:hover {
  color: #315BBE;
  opacity: 0.7;
}

.navbar__mobile__active {
  color: #315BBE !important;
}

.banner {
  width: 100%;
  height: 60vh;
  margin: 0;
  padding: 0;
  background: url("../assets/images/banner2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80% 1fr;
      grid-template-columns: 1fr 80% 1fr;
}

.banner__content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: #ffffff;
}

@media only screen and (max-width: 900px) {
  .navbar__container__list {
    display: none;
  }
  .navbar__container__menu {
    display: block;
  }
  .banner {
    height: 40vh;
  }
}

.nav-open-anim {
  -webkit-animation-name: nav-open-anim;
          animation-name: nav-open-anim;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes nav-open-anim {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes nav-open-anim {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.nav-open-anim-reverse {
  -webkit-animation-name: nav-open-anim-reverse;
          animation-name: nav-open-anim-reverse;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes nav-open-anim-reverse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes nav-open-anim-reverse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
/*# sourceMappingURL=main.css.map */